{% extends 'globalTemplate.html.twig' %}

{% block title %}Witaj!{% endblock %}

{% block main %}

<div class="container-fluid block-main">

    <div class="mb-5"></div>
    <div class="container block-item">
        <h2>Zorganizuj swoją pracę już dziś! Wypróbuj listę zadań To-Do</h2>
    </div>
    
    <hr class="spacing">

    <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4 column-option">
        <a href="{{path('register')}}" class="block-option">
            <h3>Zacznij już teraz, zarejestruj się.</h3>
            <i class="bi bi-person-plus-fill"></i>
        </a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4 column-option">
        <a href="{{path('app_login')}}" class="block-option">
            <h3>Masz konto? Zaloguj się.</h3>
            <i class="bi bi-box-arrow-in-right"></i>
        </a>
    </div>
    </div>



</div>


{% endblock %}
