@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
    font-size: 110%;
    font-family: Tahoma;
    color: black;
}
.row{
    margin: auto;
}
.navbar{
    background-color: rgb(30,30,30);
}
.nav-link{
    color: white;
}
.navbar-toggler .bi{
    color: white;
}
.block-main{
    min-height: 1000px;
    background-color: rgb(31, 121, 73);
    text-align: center;
    padding: 20px;
}
.footer{
    background-color: rgb(30,30,30);
    color:white;
}
.bi{
    padding: 5px;
}
.spacing{
    padding: 50px 0px 50px 0px;
    visibility: hidden;
}
.block-option{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    min-height: 300px;
    border-radius: 5px;
    font-size: 115%;
    padding: 50px;
    margin-bottom: 15px;
    display: block;
}
.block-option .bi{
    font-size: 400%;
}


